{# templates/admin/form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ isEdit ? 'Modifier un produit' : 'Ajouter un produit' }}
{% endblock %}

{% block body %}
    <h1>{{ isEdit ? 'Modifier un produit' : 'Ajouter un produit' }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary">
            {{ isEdit ? 'Modifier' : 'Ajouter' }}
        </button>
    {{ form_end(form) }}
{% endblock %}